<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/library2?useSSL=false</property>
    <property name="hibernate.connection.username">library_admin</property>
    <property name="hibernate.connection.password">library_admin_pass</property>
    <!--Here we are mapping Pojo class not hbm-->
     <mapping class="edu.msg.library2common.model.Publication" />
     <mapping class="edu.msg.library2common.model.Author" />
     <mapping class="edu.msg.library2common.model.Publisher" />
  </session-factory>
</hibernate-configuration>